-e git+https://github.com/tueboesen/Active-Learning.git@9ea933e19ad4612d2327dba118ec72a22056a3be#egg=Active_Learning
hnswlib>=0.3.4
matplotlib>=3.2.1
numpy>=1.18.3
pytest>=5.4.1
scipy>=1.4.1
-f https://download.pytorch.org/whl/torch_stable.html torch>=1.5.0
torchvision>=0.5.0